a{
    color:rgb(204, 197, 197);
 }
 a:link {
     text-decoration: underline;
   }
   h1{
    font-size: 50px;
   }
   a:hover {
     text-decoration: underline;
   }
   
   a:active {
     text-decoration: underline;
   }
 .welcome{
     position: fixed;
     text-align: right;
     color:rgb(204, 197, 197) ;
 }
 p{
    font-size: 15px;
}
/*What is crypto and Ethereum?*/
.Ethereum{ 
    margin-left: 300px; 
}
/*How do i use Etherum?*/
.Ethereum-use{
    margin-left:  300px; ;
}
/* What is Ethereum used for? */
.Ethereum-used{
    margin-left: 300px;
}
/* Learn about Etherum the protocol */
.Ethereum-learn{
    margin-left: 300px;
}
/*Learn about Etherum the community*/
.Ethereum-community{
    margin-left: 300px;
}
body{
    background-color: #040D29;
    background-image: linear-gradient(22deg, #040D29 73%, #10d0d6 100%);
    color: rgb(204, 197, 197);
}

h1{
    font-family: 'Lato', sans-serif;
}
h2{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Mochiy Pop One', sans-serif;
}
